//_largecreen.scss

// large screens
@media only screen and (min-width: 64.063em) {


.optin1-btn {
  font-size: calc(30px);
}

img.bg{
    min-width: 1024px;
}


[class*="block-grid-"] {
  margin: 0 10rem;
}


p.ribbon {
	font-size: 29px;
}

.rectangle-list2 li{
    
   

}



  } /* min-width 641px, medium screens */
