//_mediumscreen.scss

// Medium screens
@media only screen and (min-width: 40.063em) { 




.optinLeft{
  float: left;
  padding-left: 0.9375rem;
  display: block;

  img{
    margin-right: 5px;
  }
}

.optinRight{
  float: right;
  padding-right: 0.9375rem;
  display: block;
}



.optinLeftImg{
  float: left;
}

.optinRightText{
  float: left;
  }

/*-- section 2 --*/

[class*="block-grid-"] {
  margin: 0 2rem;
}


.section3Img{
margin-top: calc(100px);
}


#section3-right ol {
  margin-top: calc(100px);
}

.section3b{
	margin-top:calc(30px); 
}

.section3cRight {
	//margin-bottom: 5rem;
}


p.ribbon {
	font-size: 24px;
}

.rectangle-list2 li{
    
    padding: 0em 0em 0em 5em;
    *padding: .4em;
    margin: 2.1em 0 0em 2.5em;
  
    font-size: calc(20px);
    
    
    //height:100px;
    

}




  } /* min-width 641px, medium screens */