
/*Style.scss*/

@import 'bower_components/normalize-css/normalize.css';
@import 'foundation';
@import 'bower_components/bootstrap/dist/css/bootstrap.css';


/* variables
---------------------------------------------------------- */





/*--- Bullet Lists--*/
$headerBullets:#ffffff;
$bulletSquare:#666666;
$bulletSquare2:#E00A15;
$bulletNumber2:#fffffd;
$bulletLine:#000002;

/*--- BG colors--*/
$headerBgColor:transparent;
$overlay: #00000A;
$grey: #656564;
$grey2: #383838;
$grey3: #383837;
$greyBlue:#A9ABAD;
$lightGrey: #D8D8D8;
$grey-hover:#999;
$yellow: rgba(255, 189, 14, 1);
$lightblue: #7DCEEC;
$white: #ffffff;
$faBlue: #2E5884;
$black: #000001;
$bulletTop:#4FA5FF;
$bulletBtm:#0068D9;

/*--- Buttons--*/

$buttonColor:#FF9C00;
$buttonColor2:#FF5C00;
$buttonColor2Hover:#FF5C01;
$buttonColorGradient:#FF7400;
$buttonColorHover:#FF9C01;

/*--- Block Grid --*/
$block-grid-elements: 12;
$block-grid-default-spacing: rem-calc(0);

/*--- Font Variables--*/

$Oswald: Oswald, sans-serif;
$Lato: Lato,sans-serif;
$h1Family: 'Noto Sans', Arial, helvetica, sans-serif;
$h2Family: 'Noto Sans', Arial, helvetica, sans-serif;
$h3Family: 'Noto Sans', Arial, helvetica, sans-serif;


$h1Color:#272727;
$h2Color:#272727;
$h3Color:#272727;
$pColor:#595757;


/*--- Other By section--*/
$headerBtmBorder:transparent;
$divider1: #4E97F1;


/*--- Section 2--*/
$section2Bg:rgba(78, 151, 241, 0.1);
$section2Border:#d4d4d4;





/* sitewide
---------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

.rowLg{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
  .row{
    max-width: calc(1000px);
    margin: auto;
  }
}

.clearfix:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.section:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.section:before,
.wrap:after {
	clear: both;
	content: " ";
	display: table;	
}

img {
	max-width: 100%;
}

body {
	background: #ffffff;
	color: #111111;
	font-size: 18px;
	font-family: 'Georgia', serif;
	text-align: center;
	margin:auto;
}

.wrap {
	max-width: 1100px;
	margin: 0 auto;
}

.large-font{
	font-size: 1em;
}

.mg-btm-sm{
  margin-bottom:2rem;
}

.mg-btm-md{
  margin-bottom:5rem;
}
.mg-top-xs{
  margin-top:1.5rem;
}
.mg-top-sm{
  margin-top:2rem;
}
.mg-top-md{
  margin-top:5rem;
}
.mg-left-sm{
  margin-left:2rem;
}


.none{
	float: none;
}

.cb{
  clear: both;
}

.zplus{
	z-index: 100;
	height: inherit;
}

.sectionWrap
  {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid
}



/* colors
---------------------------------------------------------------------------------------------------- */

.grey{
	background-color: $grey;
}

.yellow{
	background-color: $yellow;
}

.lightblue{
	background-color: $lightblue;
}
.greyBlue{
  background-color: $greyBlue;
}
.white{
	background-color: $white;
}
.black{
	background-color: $black;
}

.white-gradient{
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.001), #ffffff);
}

/* font styles
---------------------------------------------------------------------------------------------------- */


h1{
	font-family: $h1Family;
	font-size: calc(36px);
  font-weight: 700;
	color:$h1Color;
}

h2{
	color:$h2Color;
  font-family: $h2Family;
}
h3{

  color:$h3Color;
  font-family: $h3Family;
}

p{
  text-align: left;
  font-size: calc(18px);
  color: $pColor;
}

.textBlack{
color: $black;

}
.textGrey{
	color: $grey;
	&:hover{
		color: $grey-hover;
	}
}
.text-left{
	text-align: left;
}

.firstletter { float: left; color: #000000; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }


/* Buttons
---------------------------------------------------------------------------------------------------- */
.orangeBtn{
  //background: linear-gradient($buttonColor, $buttonColorGradient);
  background-color: $buttonColor2;
  font-size: calc(25px);
  &:hover{
    background-color: $buttonColor2Hover;
    font-size: calc(25px);

  }
}

/* Header
---------------------------------------------------------------------------------------------------- */

.header{
  margin-top: calc(15px);
  margin-bottom: calc(15px);
}
	
/* Section1
---------------------------------------------------------------------------------------------------- */
.divider{

  border-bottom-style: solid;
  border-bottom-color: $divider1;
  border-bottom-width: calc(10px);
  
   
    &:before, &:after {
      content: " ";
    position: absolute;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
    top: inherit;
    left: 48%;
    }

  
    &:before {
      
       border-top: calc(40px) solid #ff0080;
    border-left-width: calc(40px);
    border-right-width: calc(40px);
    }

  
    &:after {
    border-top: calc(40px) solid white;
    border-left-width: calc(40px);
    border-right-width: calc(40px);
    margin-top: -12px;
    }

}
.divider1{
  border-bottom-color: $divider1;

  
    &:before {
      
       border-top: calc(40px) solid $divider1;
    }

  
    &:after {
    border-top: calc(40px) solid white;
    
    }
  }


/* Section2
---------------------------------------------------------------------------------------------------- */


.section2Wrap{
  background: $section2Bg;
  border-bottom-color: $section2Border ;
  border-top: 1px solid $section2Border;
}



/* Section5
---------------------------------------------------------------------------------------------------- */


ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    
    padding: 0;
    
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list2 :last-child:after{
     background: transparent;
     &:hover{
      background: transparent;
      }
}

.rectangle-list2 li{
    position: relative;
    display: block;
    padding: 0em 0em 0em 5em;
    *padding: .4em;
    margin: 0em 0 0em 2.5em;
    //background: #ddd;
    color: black;
    text-decoration: none;
    transition: none;  
    
    height:100px;
    text-align: left;

}

.rectangle-list2 li:hover{
    

}   

.rectangle-list2 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: calc(0px);
    top: 0;
    margin-top: 0em;
    background: $bulletSquare2;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: $bulletNumber2;
    
}

.rectangle-list2 li:after{
   content: "";
  display: block;
  background-color: $bulletLine;
  height: 100%;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 2px;        
}



/* Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {	
	color: #999999;
	font-size: 18px;
	padding: 30px 10px 26px;
}

.site-footer a {
	color: #999999;
	text-decoration: none;
	font-size: calc(10px)
}

.site-footer a:hover {
	text-decoration: underline;
}










/*Style.scss*/

@import 'mediumscreen';
@import 'largescreen';
@import 'XLargecreen'